{% extends 'products/base.html' %}

{% block title %}
    Delete-Confirm
{% endblock %}

{% block body %}
    <h1>Confirm</h1>

    {% comment %}
        add a form to handle delete operation
        we will need to use post method
        then add csrf token
    {%  endcomment %}

    <form method="post" action="{% url 'delete_product' product.id %}">
        {% csrf_token %}
        <h4>Are you sure that you want to delete
            <span class="badge bg-danger">{{ product.description }}</span>?</h4>

        <a href="{% url 'view_products' %}" class="btn btn-info"><i class="fas fa-arrow-left"></i> Go Back</a>
        <button type="submit" class="btn btn-success">Yes, I am sure!</button>
    </form>

{% endblock %}