{% extends 'contact/base.html' %}

{% block title %}
    <title>Contact Us</title>
{% endblock %}

{% block body %}
    <h1>Contact Us</h1>

    {% comment %}
        In case there are errors in validating user data, for each error generate a div tag and show the error message in it
        the for loop below iterates a dictionary (error messages) where each item consist of
        a key (e.g., field such as email) and value pair (e.g., Enter a valid email address)
    {% endcomment %}
    {% for key, value in form.errors.items %}
         <div class="alert alert-danger">
             {{ value }}
         </div>
    {% endfor %}

    <!-- within container of base.html -->
    <div class="row my-3">

        <!--NOTE: never trust client validation -->

        <form action="{% url 'contact' %}" method="post">
            {% csrf_token %}
            {%  comment %}
                to access individually, do this:

                <div class="row">
                    <div class="col">
                        {{ form.first_name.label }}
                        {{ form.first_name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form.last_name.label }}
                        {{ form.last_name }}
                    </div>
                </div>

                alternatively, instead of using form.etc, you could write form html directly. wont change how server cheks values

                take html form generates, then paste into in the col divs

                or you can add place holder to attrs in widgets  :

                            'first_name': forms.TextInput(attrs={
                                'class': 'form-control',
                                'placeholder': 'Enter your name',
                                'style': 'color: red',
                                }),                            

            {%  endcomment %}
            {{ form.as_p }}
            <!-- by changing type from form to submit, you change to POST method -->
            <button type="submit" class="btn btn-primary">Send</button>
        </form>

    </div>
{% endblock %}